<!DOCTYPE html>
<html translate="no">
<head>
	<meta charset="UTF-8">
	<meta name="google" content="notranslate">
    <meta name="robots" content="noindex">
    <title>Profile | Freepubguc.in</title>
    <meta property="og:title" content="Profile | Freepubguc.in" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script>
 $(document).ready(function(){
    $('.slider').slider({indicators: false});
  });
</script>
<style>

input[type=text]:not(.browser-default){
	background-color: #fff;
	border: 4px solid #666;
	border-radius: 15px 0 0 15px;

   }
   input[type=text]:not(.browser-default):focus{
	border: 4px solid #666 !important;

   }
</style>

<title>PUBG</title>

</head>

<style>
	body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
</style>

<body>
	<main>
	<div class="caption center-align">
		<div class="row">
			<div class="col l4 offset-l4 m10 offset-m1 s12" style="margin-top: 10vh;">
				<div class="card" style="background:rgba(250,250,250,0.8)">
					<div class="card-action">
						<h4 class="center" style="margin: 5px;">
							Time for workout to get upto 300 coins
						</h4>
					</div>
			
					<div class="card-content" style="background:rgba(0,0,0,0.4); text-align: left; padding-bottom: 10px;">
						<span style="text-align: left; color: #fff; font-size: 20px;">Step 1. Subscribe this YouTube channel for more updates about free PUBG UC Giveaway everyweek</span>
						<br>
						<div class="center" style="margin-top: 15px;">
							<a href="https://www.youtube.com/channel/UCq-VDn9PbLwo5Et3UOovBqg" style="color: #fff;">
								<button class="btn indigo darken-1">Go to Youtube channel</button>
							</a>
						</div>
					</div>

					<div class="card-content" style="background:rgba(0,0,0,0.4); text-align: left;">
						<span style="text-align: left; color: #fff; font-size: 20px;">Step 2. Share the Link and complete 5 successful referrals:</span>
						<br>
						<div class="row">
							<div class="col s10" style="padding-right: 0;">
								<input type="text" id="sharelink" style="height: 42px; padding-left: 10px;" value="http://freepubguc.in/{{userid}}"/>
							</div>
							<div class="col s2" style="height: 50px; background-color: #fff; border: 4px solid #666; border-left: none; border-radius: 0 12px 12px 0; padding-left: 0; cursor: pointer;" onclick="copytext()">
								<div class="valign-wrapper" style="height: 100%; text-align: right;">
									<span id="cpbt">Copy</span>
								</div>
							</div>
						</div>
						
						<div class="row">
							<center>
								<a href="https://www.facebook.com/sharer.php?u=http://freepubguc.in/{{userid}}">
									<i class="fab fa-facebook fa-3x" style="font-size: 3rem; padding: 5px; background-color: #fff; border-radius: 10px;"></i>
								</a>
								<a href="https://wa.me/?text=Win upto free 100 PUBG UC here http://freepubguc.in/{{userid}}" data-action="share/whatsapp/share">
									<i class="fab fa-whatsapp fa-3x" style="font-size: 3rem; padding: 5px; background-color: #fff; border-radius: 10px;"></i>
								</a>
								<a href="http://twitter.com/share?text=Win Free Pubg UC upto 100&url=http://freepubguc.in/{{userid}}&hashtags=freepubguc">
									<i class="fab fa-twitter fa-3x" style="font-size: 3rem; padding: 5px; background-color: #fff; border-radius: 10px;"></i>
								</a>
							</center>
							<br>
							<div class="center">
								<a href="/{{userid}}/referals" style="color: #fff;">
									<button class="btn waves-effect waves-light red">View your successful referal</button>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<div class="fullscreen slider" style="z-index: -1;">
    <ul class="slides">
		<li>
			<img src="/static/pic1.jpeg">
		</li>
	  
		<li>
			<img src="/static/pic2.jpeg">
		</li>
		
		<li>
			<img src="/static/pic3.jpeg">
		</li>
		
		<li>
			<img src="/static/pic4.jpeg">
		</li>
    </ul>
</div>
</main>
<footer class="page-footer">
	<div class="container">
	  <div class="row">
		<div class="col l6 s12">
			<h5 class="white-text">Designed & Developed by:</h5>
			<p class="grey-text text-lighten-4">
				<h6>Power Puff Girls<br>Sakshi Kumari and Baishakhi Chakraborty</h6>
			</p>
		</div>
	  </div>
	</div>
  </footer>

<script>
	function copytext() {
		var copyText = document.getElementById("sharelink");
		copyText.select();
		copyText.setSelectionRange(0, 99999);
		document.execCommand("copy");

		document.getElementById("cpbt").innerHTML = "Copied"
	}
</script>

</body>
</html>
